ux-myid-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="send-user-to-queue" doc:id="cdfb8381-b6b5-4184-87e6-909b376b7910" >
		<logger level="INFO" doc:name="Logger" doc:id="43959b94-ad4c-46db-9d33-fed63466da78" message='#["ExecutionId: $(vars.executionId) - Transforming JSON to XML"]'/>
		<ee:transform doc:name="Transform User to XML" doc:id="7cdafc8e-2691-4b64-90ad-fa0cf6be0f1d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml encoding="UTF-8"
ns xsi http://www.w3.org/2001/XMLSchema-instance

fun isActive(code: Number) =
	if (code == 1)
		true
	else
		false
---
{
	MercuryGate: {
		Header: {
			DocTypeID: "user"
		},
		Users: {
			User @(id: payload.Email,
				isActive: isActive(payload.'Is Active'),
				isAdmin:false,
				forceUserToChangePassword: false): {
				FirstName: payload.'First Name',
				LastName: payload.'Last Name',
				EmailAddress: payload.Email,
				ReferenceNumbers: {
					ReferenceNumber @('type':'User Billing Center', isSpecialRefDBDefault: false, isPrimary:false): payload.'Billing Center' joinBy ",",
					ReferenceNumber @('type':'City Code', isSpecialRefDBDefault: false, isPrimary:false): payload.'Routing Code' joinBy ",",
					ReferenceNumber @('type':'Employee #', isSpecialRefDBDefault: false, isPrimary:false): payload."Network ID"
				},
				Roles: {
					(payload.'TMS Roles' map {
						Role: $
					})
				}	
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="userEmail" ><![CDATA[%dw 2.0
output application/java
---
payload.Email]]></ee:set-variable>
				<ee:set-variable variableName="networkId" ><![CDATA[%dw 2.0
output application/java
---
payload."Network ID"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6fbc6d33-754e-4bb7-8c85-5737d8d0acfc" message='#["ExecutionId: $(vars.executionId) - Sending User to queue"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="65beb8b4-0b2b-4b7c-b345-007805c8f9d6" message='#["ExecutionId: $(vars.executionId) - User sent to queue - Email: $(vars.userEmail)"]'/>
		<jms:publish config-ref="JMS_Config" destination="in1" doc:name="Publish" doc:id="90efcedd-1eb1-4f47-9afe-2b444af4ce92" >
		</jms:publish>
	</flow>
	<flow name="queue-to-file" doc:id="d69b8ac5-d91a-431e-9d67-4cbc1bf242dc" >
		<jms:listener config-ref="JMS_Config" destination="in1" doc:name="Listener" doc:id="af488999-5170-4a64-9d26-20b2f394edbc" >
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<set-variable variableName="executionId" value="#[java!org::mule::runtime::core::api::util::UUID::getUUID()]" doc:name="Set executionId" doc:id="c63f0413-cafb-453c-a35a-7c2991c1883e" />
		<set-variable variableName="messageClass" value="#[mel:message.payload.class]" doc:name="Set messageClass" doc:id="d07506be-0984-482b-a9ae-ee8529af16ad" />
		<logger level="INFO" doc:name="Logger" doc:id="a3bfe83f-cf62-4e56-b6a6-646a2c62d14b" message='#["ExecutionId: $(vars.executionId) - User received from WMQ - Message payload class: $(vars.messageClass)"]'/>
	</flow>
</mule>
