ux-myid-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="transform-user-to-tms-xml" doc:id="f9da78ac-69d4-4877-b40a-0d6d003f77ee" >
		<ee:transform doc:name="Transform Message" doc:id="7cdafc8e-2691-4b64-90ad-fa0cf6be0f1d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml encoding="UTF-8"
ns xsi http://www.w3.org/2001/XMLSchema-instance
---
{
	MercuryGate: {
		Header: {
			DocTypeID: "user"
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="send-user-to-queue" doc:id="cdfb8381-b6b5-4184-87e6-909b376b7910" >
		<logger level="INFO" doc:name="Logger" doc:id="43959b94-ad4c-46db-9d33-fed63466da78" message='#["ExecutionId: $(vars.executionId) - Transforming JSON to XML"]'/>
	</flow>
</mule>
