funds-processor-template/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="read-files-flow" doc:id="1e2bf9a9-2e76-45bc-9908-656cbf6f4e6d" >
		<file:list config-ref="File_Config" directoryPath="#[p('directory.path')]" doc:name="List 'historical prices' files" doc:id="7633061a-484d-4ad7-aeac-900aa76ab4c1" >
			<file:matcher filenamePattern="#[p('file.name.pattern')]" />
		</file:list>
		<choice doc:name="size &gt; 0" doc:id="2229190d-de78-4318-9d5c-6a48bf6f8a2b" >
			<when expression="#[sizeOf(payload) &gt; 0]" >
				<set-variable variableName="fileName" value="#[payload[0].typedAttributes.path]" doc:name="Set 'fileName' variable" doc:id="38b8e404-c990-4e28-ae49-c9f6f679bd8d" />
				<file:read config-ref="File_Config" path="#[vars.fileName]" doc:name="Read 'historical prices' file" doc:id="c2dabb27-af53-4deb-aeea-6aa27b6864c8" outputMimeType="application/csv"/>
				<ee:transform doc:name="CSV to JAVA" doc:id="448fd9c2-5a97-4a04-a18d-68675017aa56" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload as Array {iterator: true}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="batchUUID" ><![CDATA[%dw 2.0
output application/java
---
java!org::mule::runtime::core::api::util::UUID::getUUID()]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref name="process-file-flow" doc:name="process-file-flow" doc:id="5d6d5155-4c37-42ad-92a4-57932dfaed6f" />
			</when>
			<otherwise >
				<logger level="DEBUG" doc:name="do nothing" doc:id="d55c5fdb-b427-4dc3-a85f-fa272d56c0d2" />
			</otherwise>
		</choice>
	</flow>
	<flow name="format-line-flow" doc:id="95c8a990-1be4-4695-8ee9-019ff405d1a8" >
		<ee:transform doc:name="Object to JSON" doc:id="ad3f940b-d9fe-4657-9825-76566d7c9958">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	symbol: payload.Symbol,
	date: payload.Date as Date {format: "M/d/yyyy"} as String {format: "yyyy-MM-dd"},
	open: payload.Open,
	close: payload.High,
	low: payload.Low,
	close: payload.Close,
	adjClose: payload.'Adj Close',
	volume: payload.Volume,
	batchUUID: vars.batchUUID
}
]]></ee:set-payload>
						</ee:message>
		</ee:transform>
		<ee:transform doc:name="Append index" doc:id="157a2a95-9d38-4efc-af14-cf4f868e93a4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"{ \"index\" : {  } }" ++ "\n" ++ write(payload, "text/json", {indent: false}) ++ "\n"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="elk-bulk-post-flow" doc:id="771e0f91-e06e-46f7-88d4-7ab8b3fad9f9" >
		<ee:transform doc:name="Set 'bulkPayload' and 'numberOfRecords' variable" doc:id="8edeeadb-2bc8-49ff-ab52-c4c7798e83a0" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="bulkPayload" ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
				<ee:set-variable variableName="numberOfRecords" ><![CDATA[%dw 2.0
output application/java
---
sizeOf(payload)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="c0a663e1-2047-4253-9c86-b6cfd7a8a609" >
			<ee:transform doc:name="Append payload to 'bulkPayload' variable" doc:id="4b5cd416-1563-485c-b724-9c1870b5b4cf" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="bulkPayload" ><![CDATA[%dw 2.0
output application/java
---
vars.bulkPayload ++ payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Set payload with 'bulkPayload' variable" doc:id="7b6634f3-3c6b-4133-8205-9456eb73078a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.bulkPayload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Log ELK call" doc:id="37a3f944-704a-4769-bc44-84d822b48121" message='#["ELK Bulk post with: $(vars.numberOfRecords) records."]'/>
		<http:request config-ref="HTTP_Elk_Request_configuration" method="POST" path="${elk.path}" doc:name="POST elk" doc:id="91d0620b-1492-4c81-8373-aab59eef80d8" >
			<http:headers ><![CDATA[#[output applicaton/java
---
{
	"Content-Type" : "application/x-ndjson"
}]]]></http:headers>
		</http:request>
		<flow-ref name="elk-errors-handling-flow" doc:name="elk-errors-handling-flow" doc:id="d43833f3-797b-499a-b367-0c579af40674" />
	</flow>
	<flow name="elk-search-flow" doc:id="8dc37d0d-6c94-4b15-ac6f-843ac3819e7e" >
		<set-variable variableName="from" value="#[0]" doc:name="Set 'from' variable" doc:id="255d7918-750d-4d1b-9ee6-63e75f901c6d" />
		<flow-ref name="elk-aggregation-flow" doc:name="elk-aggregation-flow" doc:id="9cc49b83-7171-43b3-aba3-00c015adeb36" />
	</flow>
	<flow name="elk-aggregation-flow" doc:id="6fea8e70-cea4-4418-904d-76d5cbc6ac4e" >
		<flow-ref name="elk-invocation-flow" doc:name="elk-invocation-flow" doc:id="06b5d4c1-3522-41e1-9bb8-e6aa21452b31" />
		<set-variable variableName="from" value="#[vars.from + p('elk.query.size')]" doc:name="Update 'from' variable" doc:id="f607d2da-9aae-4228-ba75-58f20dfa5bd0" />
		<set-variable variableName="newPage" value="#[isEmpty(payload.hits.hits) == false]" doc:name="Set 'newPage' variable" doc:id="42985500-0065-4968-9cb1-93969fe979b8" />
		<choice doc:name="Check if newPage pending" doc:id="e16538fd-33ab-4592-8c07-46702b18766e" >
			<when expression="#[vars.newPage]" >
				<set-payload value="#[payload.hits.hits]" doc:name="Set Payload with elk query result" doc:id="90f519ac-7075-48cf-a51b-0fbbe49f2c7d" mimeType="application/json"/>
				<flow-ref name="record-process-flow" doc:name="record-process-flow" doc:id="d72d849b-b76c-4a2f-97fb-45a26d3e9a72" />
				<flow-ref name="elk-aggregation-flow" doc:name="elk-aggregation-flow" doc:id="c978d27b-ff68-4dca-ae83-891ef57ed28e" />
			</when>
			<otherwise >
				<logger level="DEBUG" doc:name="do nothing" doc:id="76534c99-a3fc-4fe6-bcf7-409940b73d9a"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="elk-invocation-flow" doc:id="51611d25-d055-42cb-a99e-b75f1d11cd98" >
		<ee:transform doc:name="Set 'basePath', 'allPath' and 'batchSearchPath' variables" doc:id="ad359449-242b-4df5-90fc-73c0edb1bca9" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="batchSearchPath" ><![CDATA[%dw 2.0
output application/java
---
p('elk.query.batch.path')]]></ee:set-variable>
				<ee:set-variable variableName="allPath" ><![CDATA[%dw 2.0
output application/java
---
p('elk.query.all.path')]]></ee:set-variable>
				<ee:set-variable variableName="basePath" ><![CDATA[%dw 2.0
output application/java
---
p('elk.query.base.path')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<!-- <logger level="INFO" doc:name="Logger" doc:id="78a835d0-0ee6-4460-add5-3eb1a617caee" message='#[vars.allPath ++ "/" ++ vars.batchSearchPath ++ "%22" ++ vars.batchUUID ++ "%22"]'/> -->
		<ee:transform doc:name="Set 'path' variable" doc:id="201d852e-f663-4cda-874f-17b891624639" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/java
---
vars.allPath ++ "/" ++ vars.batchSearchPath ++ "%22" ++ vars.batchUUID ++ "%22"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request config-ref="HTTP_Elk_Request_configuration" method="GET" path="#[vars.path]" doc:name="GET elk" doc:id="d3b31464-5928-4720-954e-2636e0a13a6c" outputMimeType="application/json">
			<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"from" : "$(vars.from)",
	"size" : "$(p('elk.query.size'))"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="JSON to Object" doc:id="d807f83e-d33f-45e5-b488-90373305efdc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Log ELK call" doc:id="c899ffc6-9380-4dc1-93dc-35b64c1012c6" message='#["ELK get with: $(sizeOf(payload.hits.hits)) records."]'/>
	</flow>
	<flow name="record-process-flow" doc:id="40043be2-0133-4913-80ef-dd1c8e9b9c38" >
		<batch:job jobName="record-process-batch" doc:id="e744addd-3043-486a-99a2-29c690484eac" blockSize="${block.size}">
			<batch:process-records >
				<batch:step name="map_fund_data" doc:id="24b7068b-a902-4d1c-8387-b7671d983658" >
					<ee:transform doc:name="Map fund data" doc:id="1b0efd6e-3dda-4b38-aa57-0250b9b94eda" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.'_source']]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="post_funds_api" doc:id="a4a8a269-6a16-40dd-8868-d2e6faffe083" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="33b6b0da-5c5d-48c0-8289-d55fd9b04e00" size="${aggregator.size}">
						<ee:transform doc:name="Object to JSON" doc:id="a4788755-1642-4687-ac1f-346d4ccb14f4" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<http:request config-ref="HTTP_Funds_Request_configuration" method="POST" path="${funds.api.path}" doc:name="POST funds-api" doc:id="c2626771-773b-41ec-a50e-0ebaff9f26ca" />
						<logger level="DEBUG" doc:name="Log response" doc:id="cc647f84-8f21-4e50-b68e-e9e43b7ce582" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
