s-payroll-deu/src/main/mule/implementation.xml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="777d4182-af26-46f7-b044-13731024136e" >
		<ftp:connection host="${ftp.germany.host}" port="${ftp.germany.port}" username="${ftp.germany.user}" password="${ftp.germany.password}" >
			<reconnection >
				<reconnect-forever />
			</reconnection>
		</ftp:connection>
	</ftp:config>
	<flow name="post-employees-flow" doc:id="f8ddd407-5728-4e3f-a889-05a34dabf7f9">
		<logger message="#[ output text/plain ---&quot;JSON Request: $(write(payload, 'application/json'))&quot; ]" level="INFO" doc:name="Log input message" />
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="map Germany CSV file" doc:id="8b2e4091-d9f5-42d7-956a-ab4481dbb61f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/csv header=true
var parameters=payload.dataDs.g1.g2.fileFragment.acmeGenericExtract.parameters
---
payload.dataDs.g1.g2.fileFragment.acmeGenericExtract.main map {
	ARCHIVEACTIONID: payload.dataDs.archiveActionId,
	DELIVERYOPTIONID: payload.dataDs.deliveryOptionId,
	PAYROLLACTIONID: payload.dataDs.payrollActionId,
	FLOWINSTANCENAME: payload.dataDs.flowInstanceName,
	PAYROLL_ACTION_ID: payload.dataDs.g1.payrollActionId,
	REP_CATEGORY_NAME: payload.dataDs.g1.g2.fileFragment.aperamGenericExtract.repCategoryName,
	baseline_only: parameters.baselineOnly,
	changes_only: parameters.changesOnly,
	delete_archive: parameters.deleteArchive,
	effective_date: parameters.effectiveDate,
	legislative_data_group_id: parameters.legislativeDataGroupId,
	parameter_group_id: parameters.parameterGroupId,
	report_category_id: parameters.reportCategoryId,
	request_id: parameters.requestId,
	start_date: parameters.startDate,
	Person_Number: $.identificationData.personNumber,
	Person_Number_OLD: $.identificationData.personNumberOld,
	Payroll_Number: $.identificationData.payrollNumber,
	Payroll_Number_OLD: $.identificationData.payrollNumberOld,
	Country: $.identificationData.country,
	Country_OLD: $.identificationData.countryOld,
	Legal_Employer: $.identificationData.legalEmployer,
	Legal_Employer_OLD: $.identificationData.legalEmployerOld,
	Title: $.callPersonalData.persons[0].personalData.title,
	Title_OLD: $.callPersonalData.persons[0].personalData.titleOld,
	First_Name: $.callPersonalData.persons[0].personalData.firstName,
	First_Name_OLD: $.callPersonalData.persons[0].personalData.firstNameOld,
	Middle_Name: $.callPersonalData.persons[0].personalData.middleName,
	Middle_Name_OLD: $.callPersonalData.persons[0].personalData.middleNameOld,
	Last_Name: $.callPersonalData.persons[0].personalData.lastName,
	Last_Name_OLD: $.callPersonalData.persons[0].personalData.lastNameOld,
	Date_Of_Birth: $.callPersonalData.persons[0].personalData.dateOfBirth,
	Date_Of_Birth_OLD: $.callPersonalData.persons[0].personalData.dateOfBirthOld,
	Date_Of_Death: $.callPersonalData.persons[0].personalData.dateOfDeath,
	Date_Of_Death_OLD: $.callPersonalData.persons[0].personalData.dateOfDeathOld,
	Country_Of_Birth: $.callPersonalData.persons[0].personalData.countryOfBirth,
	Country_Of_Birth_OLD: $.callPersonalData.persons[0].personalData.countryOfBirthOld,
	Region_Of_Birth: $.callPersonalData.persons[0].personalData.regionOfBirth,
	Region_Of_Birth_OLD: $.callPersonalData.persons[0].personalData.regionOfBirthOld,
	Town_Of_Birth: $.callPersonalData.persons[0].personalData.townOfBirth,
	Town_Of_Birth_OLD: $.callPersonalData.persons[0].personalData.townOfBirthOld,
	Correspondence_Language: $.callPersonalData.persons[0].personalData.correspondenceLanguage,
	Correspondence_Language_OLD: $.callPersonalData.persons[0].personalData.correspondenceLanguageOld,
	Blood_Type: $.callPersonalData.persons[0].personalData.bloodType,
	Blood_Type_OLD: $.callPersonalData.persons[0].personalData.bloodTypeOld,
	Gender: $.callPersonalData.persons[0].personalData.gender,
	Gender_OLD: $.callPersonalData.persons[0].personalData.genderOld,
	Marital_Status: $.callPersonalData.persons[0].personalData.maritalStatus,
	Marital_Status_OLD: $.callPersonalData.persons[0].personalData.maritalStatusOld,
	Marital_Status_Date: $.callPersonalData.persons[0].personalData.maritalStatusDate,
	Marital_Status_Date_OLD: $.callPersonalData.persons[0].personalData.maritalStatusDateOld,
	Highest_Education_Level: $.callPersonalData.persons[0].personalData.highestEducationLevel,
	Highest_Education_Level_OLD: $.callPersonalData.persons[0].personalData.highestEducationLevelOld,
	Ethnicity: $.callPersonalData.persons[0].personalData.ethnicity,
	Ethnicity_OLD: $.callPersonalData.persons[0].personalData.ethnicityOld,
	Email_Type: $.callPersonalData.persons[0].callEmailData.emails[0].emailType,
	Email_Type_OLD: $.callPersonalData.persons[0].callEmailData.emails[0].emailTypeOld,
	Email: $.callPersonalData.persons[0].callEmailData.emails[0].email,
	Email_OLD: $.callPersonalData.persons[0].callEmailData.emails[0].emailOld,
	Phone_Type: $.callPersonalData.persons[0].callPhoneData.phones[0].phoneType,
	Phone_Type_OLD: $.callPersonalData.persons[0].callPhoneData.phones[0].phoneTypeOld,
	Phone_Number: $.callPersonalData.persons[0].callPhoneData.phones[0].phoneNumber,
	Phone_Number_OLD: $.callPersonalData.persons[0].callPhoneData.phones[0].phoneNumberOld,
	Country_Code: $.callPersonalData.persons[0].callPhoneData.phones[0].countryCode,
	Country_Code_OLD: $.callPersonalData.persons[0].callPhoneData.phones[0].countryCodeOld,
	Area_Code: $.callPersonalData.persons[0].callPhoneData.phones[0].areaCode,
	Area_Code_OLD: $.callPersonalData.persons[0].callPhoneData.phones[0].areaCodeOld,
	National_ID_Type: $.callPersonalData.persons[0].callNidData.nid[0].nationalIdType,
	National_ID_Type_OLD: $.callPersonalData.persons[0].callNidData.nid[0].nationalIdTypeOld,
	National_ID: $.callPersonalData.persons[0].callNidData.nid[0].nationalId,
	National_ID_OLD: $.callPersonalData.persons[0].callNidData.nid[0].nationalIdOld,
	Nationality: $.callPersonalData.persons[0].callCitizenshipData.citizenships[0].nationality,
	Nationality_OLD: $.callPersonalData.persons[0].callCitizenshipData.citizenships[0].nationalityOld,
	From_Date: $.callPersonalData.persons[0].callCitizenshipData.citizenships[0].fromDate,
	From_Date_OLD: $.callPersonalData.persons[0].callCitizenshipData.citizenships[0].fromDateOld,
	To_Date: $.callPersonalData.persons[0].callCitizenshipData.citizenships[0].toDate,
	To_Date_OLD: $.callPersonalData.persons[0].callCitizenshipData.citizenships[0].toDateOld,
	Status: $.callPersonalData.persons[0].callCitizenshipData.citizenships[0].status,
	Status_OLD: $.callPersonalData.persons[0].callCitizenshipData.citizenships[0].statusOld,
	Dependent_Person_Number: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentPersonNumber,
	Dependent_Person_Number_OLD: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentPersonNumberOld,
	Dependent_Relationship: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentRelationship,
	Dependent_Relationship_OLD: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentRelationshipOld,
	Dependent_Start_Date: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentStartDate,
	Dependent_Start_Date_OLD: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentStartDateOld,
	Dependent_First_Name: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentFirst_Name,
	Dependent_First_Name_OLD: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentFirst_NameOld,
	Dependent_Last_Name: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentLast_Name,
	Dependent_Last_Name_OLD: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentLast_NameOld,
	Dependent_BirthDate: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentBirthDate,
	Dependent_BirthDate_OLD: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentBirthDateOld,
	Dependent_Gender: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentGender,
	Dependent_Gender_OLD: $.callPersonalData.persons[0].callDependentData.dependents[0].dependentGenderOld,
	Passport_Issue_Country: $.callPersonalData.persons[0].callPassportData.passports[0].passportIssueCountry,
	Passport_Issue_Country_OLD: $.callPersonalData.persons[0].callPassportData.passports[0].passportIssueCountryOld,
	Passport_Type: $.callPersonalData.persons[0].callPassportData.passports[0].passportType,
	Passport_Type_OLD: $.callPersonalData.persons[0].callPassportData.passports[0].passportTypeOld,
	Passport_Number: $.callPersonalData.persons[0].callPassportData.passports[0].passportNumber,
	Passport_Number_OLD: $.callPersonalData.persons[0].callPassportData.passports[0].passportNumberOld,
	Passport_Issuing_Authority: $.callPersonalData.persons[0].callPassportData.passports[0].passportIssuingAuthority,
	Passport_Issuing_Authority_OLD: $.callPersonalData.persons[0].callPassportData.passports[0].passportIssuingAuthorityOld,
	Passport_Issue_Date: $.callPersonalData.persons[0].callPassportData.passports[0].passportIssueDate,
	Passport_Issue_Date_OLD: $.callPersonalData.persons[0].callPassportData.passports[0].passportIssueDateOld,
	Passport_Expiration_Date: $.callPersonalData.persons[0].callPassportData.passports[0].passportExpirationDate,
	Passport_Expiration_Date_OLD: $.callPersonalData.persons[0].callPassportData.passports[0].passportExpirationDateOld,
	Visa_Issue_Country: $.callPersonalData.persons[0].callVisaData.visas[0].visaIssueCountry,
	Visa_Issue_Country_OLD: $.callPersonalData.persons[0].callVisaData.visas[0].visaIssueCountryOld,
	Visa_Type: $.callPersonalData.persons[0].callVisaData.visas[0].visaType,
	Visa_Type_OLD: $.callPersonalData.persons[0].callVisaData.visas[0].visaTypeOld,
	Visa_Category: $.callPersonalData.persons[0].callVisaData.visas[0].visaCategory,
	Visa_Category_OLD: $.callPersonalData.persons[0].callVisaData.visas[0].visaCategoryOld,
	Visa_Number: $.callPersonalData.persons[0].callVisaData.visas[0].visaNumber,
	Visa_Number_OLD: $.callPersonalData.persons[0].callVisaData.visas[0].visaNumberOld,
	Visa_Status: $.callPersonalData.persons[0].callVisaData.visas[0].visaStatus,
	Visa_Status_OLD: $.callPersonalData.persons[0].callVisaData.visas[0].visaStatusOld,
	Visa_Issue_Date: $.callPersonalData.persons[0].callVisaData.visas[0].visaIssueDate,
	Visa_Issue_Date_OLD: $.callPersonalData.persons[0].callVisaData.visas[0].visaIssueDateOld,
	Visa_Expiration_Date: $.callPersonalData.persons[0].callVisaData.visas[0].visaExpirationDate,
	Visa_Expiration_Date_OLD: $.callPersonalData.persons[0].callVisaData.visas[0].visaExpirationDateOld,
	Hire_Date: $.callAssignmentData.empOrgData[0].assignmentData.hireDate,
	Hire_Date_OLD: $.callAssignmentData.empOrgData[0].assignmentData.hireDateOld,
	Termination_Date: $.callAssignmentData.empOrgData[0].assignmentData.terminationDate,
	Termination_Date_OLD: $.callAssignmentData.empOrgData[0].assignmentData.terminationDateOld,
	Action_Name: $.callAssignmentData.empOrgData[0].assignmentData.actionName,
	Action_Name_OLD: $.callAssignmentData.empOrgData[0].assignmentData.actionNameOld,
	Action_Reason: $.callAssignmentData.empOrgData[0].assignmentData.actionReason,
	Action_Reason_OLD: $.callAssignmentData.empOrgData[0].assignmentData.actionReasonOld,
	Action_Effective_Date: $.callAssignmentData.empOrgData[0].assignmentData.actionEffectiveDate,
	Action_Effective_Date_OLD: $.callAssignmentData.empOrgData[0].assignmentData.actionEffectiveDateOld,
	Employment_Status: $.callAssignmentData.empOrgData[0].assignmentData.employmentStatus,
	Employment_Status_OLD: $.callAssignmentData.empOrgData[0].assignmentData.employmentStatusOld,
	Employment_Status_Meaning: $.callAssignmentData.empOrgData[0].assignmentData.employmentStatusMeaning,
	Employment_Status_Meaning_OLD: $.callAssignmentData.empOrgData[0].assignmentData.employmentStatusMeaningOld,
	Legal_Employer_Hire_Date: $.callAssignmentData.empOrgData[0].assignmentData.legalEmployerHireDate,
	Legal_Employer_Hire_Date_OLD: $.callAssignmentData.empOrgData[0].assignmentData.legalEmployerHireDateOld,
	Enterprise_Hire_Date: $.callAssignmentData.empOrgData[0].assignmentData.enterpriseHireDate,
	Enterprise_Hire_Date_OLD: $.callAssignmentData.empOrgData[0].assignmentData.enterpriseHireDateOld,
	Seniority_Date: $.callAssignmentData.empOrgData[0].assignmentData.seniorityDate,
	Seniority_Date_OLD: $.callAssignmentData.empOrgData[0].assignmentData.seniorityDateOld,
	Worker_Type: $.callAssignmentData.empOrgData[0].assignmentData.workerType,
	Worker_Type_OLD: $.callAssignmentData.empOrgData[0].assignmentData.workerTypeOld,
	Person_Type: $.callAssignmentData.empOrgData[0].assignmentData.personType,
	Person_Type_OLD: $.callAssignmentData.empOrgData[0].assignmentData.personTypeOld,
	Business_Unit: $.callAssignmentData.empOrgData[0].assignmentData.businessUnit,
	Business_Unit_OLD: $.callAssignmentData.empOrgData[0].assignmentData.businessUnitOld,
	Department: $.callAssignmentData.empOrgData[0].assignmentData.department,
	Department_OLD: $.callAssignmentData.empOrgData[0].assignmentData.departmentOld,
	Job: $.callAssignmentData.empOrgData[0].assignmentData.job,
	Job_OLD: $.callAssignmentData.empOrgData[0].assignmentData.jobOld,
	Location: $.callAssignmentData.empOrgData[0].assignmentData.location,
	Location_OLD: $.callAssignmentData.empOrgData[0].assignmentData.locationOld,
	Grade: $.callAssignmentData.empOrgData[0].assignmentData.grade,
	Grade_OLD: $.callAssignmentData.empOrgData[0].assignmentData.gradeOld,
	Assignment_Category: $.callAssignmentData.empOrgData[0].assignmentData.assignmentCategory,
	Assignment_Category_OLD: $.callAssignmentData.empOrgData[0].assignmentData.assignmentCategoryOld,
	Worker_Category: $.callAssignmentData.empOrgData[0].assignmentData.workerCategory,
	Worker_Category_OLD: $.callAssignmentData.empOrgData[0].assignmentData.workerCategoryOld,
	Regular_Temporary: $.callAssignmentData.empOrgData[0].assignmentData.regularTemporary,
	Regular_Temporary_OLD: $.callAssignmentData.empOrgData[0].assignmentData.regularTemporaryOld,
	Hourly_or_Salaried: $.callAssignmentData.empOrgData[0].assignmentData.hourlyOrSalaried,
	Hourly_or_Salaried_OLD: $.callAssignmentData.empOrgData[0].assignmentData.hourlyOrSalariedOld,
	FullTime_PartTime: $.callAssignmentData.empOrgData[0].assignmentData.fullTimePartTime,
	FullTime_PartTime_OLD: $.callAssignmentData.empOrgData[0].assignmentData.fullTimePartTimeOld,
	Manager_Indicator: $.callAssignmentData.empOrgData[0].assignmentData.managerIndicator,
	Manager_Indicator_OLD: $.callAssignmentData.empOrgData[0].assignmentData.managerIndicatorOld,
	FTE: $.callAssignmentData.empOrgData[0].assignmentData.fte,
	FTE_OLD: $.callAssignmentData.empOrgData[0].assignmentData.fteOld,
	Assignment_Type: $.callAssignmentData.empOrgData[0].assignmentData.assignmentType,
	Assignment_Type_OLD: $.callAssignmentData.empOrgData[0].assignmentData.assignmentTypeOld,
	Projected_End_Date: $.callAssignmentData.empOrgData[0].assignmentData.projectedEndDate,
	Projected_End_Date_OLD: $.callAssignmentData.empOrgData[0].assignmentData.projectedEndDateOld,
	Probation_End_Date: $.callAssignmentData.empOrgData[0].assignmentData.probationEndDate,
	Probation_End_Date_OLD: $.callAssignmentData.empOrgData[0].assignmentData.probationEndDateOld,
	Notice_Period: $.callAssignmentData.empOrgData[0].assignmentData.noticePeriod,
	Notice_Period_OLD: $.callAssignmentData.empOrgData[0].assignmentData.noticePeriodOld,
	Notice_Period_UOM: $.callAssignmentData.empOrgData[0].assignmentData.noticePeriodUom,
	Notice_Period_UOM_OLD: $.callAssignmentData.empOrgData[0].assignmentData.noticePeriodUomOld,
	Out_Of_France_Resident: $.callAssignmentData.empOrgData[0].assignmentData.outOfFranceResident,
	Out_Of_France_Resident_OLD: $.callAssignmentData.empOrgData[0].assignmentData.outOfFranceResidentOld,
	CCHR: $.callAssignmentData.empOrgData[0].assignmentData.cchr,
	CCHR_OLD: $.callAssignmentData.empOrgData[0].assignmentData.cchrOld,
	Contract_Type: $.callAssignmentData.empOrgData[0].assignmentData.contractType,
	Contract_Type_OLD: $.callAssignmentData.empOrgData[0].assignmentData.contractTypeOld,
	OTT_Agreement_Code: $.callAssignmentData.empOrgData[0].assignmentData.ottAgreementCode,
	OTT_Agreement_Code_OLD: $.callAssignmentData.empOrgData[0].assignmentData.ottAgreementCodeOld,
	Contributor_Category: $.callAssignmentData.empOrgData[0].assignmentData.contributorCategory,
	Contributor_Category_OLD: $.callAssignmentData.empOrgData[0].assignmentData.contributorCategoryOld,
	Employment: $.callAssignmentData.empOrgData[0].assignmentData.employment,
	Employment_OLD: $.callAssignmentData.empOrgData[0].assignmentData.employmentOld,
	Nature_Contract: $.callAssignmentData.empOrgData[0].assignmentData.natureContract,
	Nature_Contract_OLD: $.callAssignmentData.empOrgData[0].assignmentData.natureContractOld,
	Duration_Learning: $.callAssignmentData.empOrgData[0].assignmentData.durationLearning,
	Duration_Learning_OLD: $.callAssignmentData.empOrgData[0].assignmentData.durationLearningOld,
	Date_Classification: $.callAssignmentData.empOrgData[0].callAssignmentEit[0].dateClassification,
	Date_Classification_OLD: $.callAssignmentData.empOrgData[0].callAssignmentEit[0].dateClassificationOld,
	Classification: $.callAssignmentData.empOrgData[0].callAssignmentEit[0].classification,
	Classification_OLD: $.callAssignmentData.empOrgData[0].callAssignmentEit[0].classificationOld,
	'%Imputation': $.callAssignmentData.empOrgData[0].callAssignmentEit[0].percentImputation,
	'%Imputation_OLD': $.callAssignmentData.empOrgData[0].callAssignmentEit[0].percentImputationOld,
	Imputation: $.callAssignmentData.empOrgData[0].callAssignmentEit[0].imputation,
	Imputation_OLD: $.callAssignmentData.empOrgData[0].callAssignmentEit[0].imputationOld,
	Manager_Type: $.callAssignmentData.empOrgData[0].callManagerData.managers[0].managerType,
	Manager_Type_OLD: $.callAssignmentData.empOrgData[0].callManagerData.managers[0].managerTypeOld,
	Manager_First_Name: $.callAssignmentData.empOrgData[0].callManagerData.managers[0].managerFirstName,
	Manager_First_Name_OLD: $.callAssignmentData.empOrgData[0].callManagerData.managers[0].managerFirstNameOld,
	Manager_Last_Name: $.callAssignmentData.empOrgData[0].callManagerData.managers[0].managerLastName,
	Manager_Last_Name_OLD: $.callAssignmentData.empOrgData[0].callManagerData.managers[0].managerLastNameOld,
	Manager_Person_Number: $.callAssignmentData.empOrgData[0].callManagerData.managers[0].managerPersonNumber,
	Manager_Person_Number_OLD: $.callAssignmentData.empOrgData[0].callManagerData.managers[0].managerPersonNumberOld,
	Salary_Action: $.callSalaryData.salaries[0].salaryData.salaryAction,
	Salary_Action_OLD: $.callSalaryData.salaries[0].salaryData.salaryActionOld,
	Salary_Action_Reason: $.callSalaryData.salaries[0].salaryData.salaryActionReason,
	Salary_Action_Reason_OLD: $.callSalaryData.salaries[0].salaryData.salaryActionReasonOld,
	Salary_Basis: $.callSalaryData.salaries[0].salaryData.salaryBasis,
	Salary_Basis_OLD: $.callSalaryData.salaries[0].salaryData.salaryBasisOld,
	From_Date: $.callSalaryData.salaries[0].salaryData.fromDate,
	From_Date_OLD: $.callSalaryData.salaries[0].salaryData.fromDateOld,
	To_Date: $.callSalaryData.salaries[0].salaryData.toDate,
	To_Date_OLD: $.callSalaryData.salaries[0].salaryData.toDateOld,
	Salary_Annual_Factor: $.callSalaryData.salaries[0].salaryData.salaryAnnualFactor,
	Salary_Annual_Factor_OLD: $.callSalaryData.salaries[0].salaryData.salaryAnnualFactorOld,
	Salary_Currency: $.callSalaryData.salaries[0].salaryData.salaryCurrency,
	Salary_Currency_OLD: $.callSalaryData.salaries[0].salaryData.salaryCurrencyOld,
	Salary_Amount: $.callSalaryData.salaries[0].salaryData.salaryAmount,
	Salary_Amount_OLD: $.callSalaryData.salaries[0].salaryData.salaryAmountOld,
	Annual_Salary_Amount: $.callSalaryData.salaries[0].salaryData.annualSalaryAmount,
	Annual_Salary_Amount_OLD: $.callSalaryData.salaries[0].salaryData.annualSalaryAmountOld,
	Assignment_FTE: $.callSalaryData.salaries[0].salaryData.assignmentFte,
	Assignment_FTE_OLD: $.callSalaryData.salaries[0].salaryData.assignmentFteOld,
	Annualized_FTE_Salary: $.callSalaryData.salaries[0].salaryData.annualizedFteSalary,
	Annualized_FTE_Salary_OLD: $.callSalaryData.salaries[0].salaryData.annualizedFteSalaryOld,
	Element_Name: $.callSalaryData.salaries[0].callAllowancesData.allowances[0].elementName,
	Element_Name_OLD: $.callSalaryData.salaries[0].callAllowancesData.allowances[0].elementNameOld,
	Element_Value: $.callSalaryData.salaries[0].callAllowancesData.allowances[0].elementValue,
	Element_Value_OLD: $.callSalaryData.salaries[0].callAllowancesData.allowances[0].elementValueOld,
	Element_Start_Date: $.callSalaryData.salaries[0].callAllowancesData.allowances[0].elementStartDate,
	Element_Start_Date_OLD: $.callSalaryData.salaries[0].callAllowancesData.allowances[0].elementStartDateOld,
	Element_End_Date: $.callSalaryData.salaries[0].callAllowancesData.allowances[0].elementEndDate,
	Element_End_Date_OLD: $.callSalaryData.salaries[0].callAllowancesData.allowances[0].elementEndDateOld,
	Bank_Name: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].bankName,
	Bank_Name_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].bankNameOld,
	Bank_Branch_Name: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].bankBranchName,
	Bank_Branch_Name_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].bankBranchNameOld,
	Bank_Branch_Number: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].bankBranchNumber,
	Bank_Branch_Number_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].bankBranchNumberOld,
	IBAN: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].iban,
	IBAN_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].ibanOld,
	SWIFT_code: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].swiftCode,
	SWIFT_code_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].swiftCodeOld,
	Bank_Country: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].bankCountry,
	Bank_Country_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].bankCountryOld,
	Account_Type: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].accountType,
	Account_Type_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].accountTypeOld,
	Account_Name: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].accountName,
	Account_Name_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].accountNameOld,
	Account_Number: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].accountNumber,
	Account_Number_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].accountNumberOld,
	Payment_Percentage: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].paymentPercentage,
	Payment_Percentage_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].paymentPercentageOld,
	Payment_Type: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].paymentType,
	Payment_Type_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].paymentTypeOld,
	Currency_code: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].currencyCode,
	Currency_code_OLD: $.callSalaryData.salaries[0].callBankAccountData.bankAccounts[0].currencyCodeOld
}]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="csvGeneratedFileName" ><![CDATA[%dw 2.0
output application/java
---
p('ftp.germany.path') ++ p('ftp.germany.file.pattern') ++ now() as String { format: "yyyy-MMM-dd" } as String ++ ".csv"]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<ftp:write config-ref="FTP_Config" path="#[vars.csvGeneratedFileName]" doc:name="write Germany CSV file" doc:id="26e822c0-8bf3-4260-a225-fe7893d5a0a8" createParentDirectories="false"/>
		<ee:transform doc:name="set OK message" doc:id="8fc8b057-132f-4b54-a985-370786d28c36">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ 
	message: "OK"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
